*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}

.container{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(6,auto);
    justify-content: center;
    height: 100vh;
    width: 50%;
    grid-row-gap: 2rem;
   position: absolute;
   right:25%;
}

.left{
    background-color: rgb(0, 255, 255);
}

.right{
    background-color: rgb(168, 125, 125);
}

.right,.left{
    padding:2rem;
}

.image{
    border-radius: 50%;
    height:100px;
    width:100px;
    margin-left:25%;
}

.space{
    margin-bottom: 1rem;
}

.summary{
    padding-top: 1.5em;
}

@media(max-width:700px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        
    }
    body{
        font-size:10px;
        padding-bottom: 22px;
    }
    .container{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: center;
       height: 100%;
       width:100%;
       position:relative;
       right: 0%;
       top: 0%;
       bottom: 0%;
    }
    .image{
            display: block;
            margin-left: auto;
            margin-right: auto;
    }
    .name>h1{
        text-align: center;
    }

    .right{
        margin-top: -27px;
        background-color: antiquewhite;
        padding-top: 0px;
        height: 50%;
        margin-bottom: 0px;
    }

    .left{
        margin-bottom: -5px;
        background-color: antiquewhite;
        padding-bottom: 0px;
        margin-top: 0px;
        height: 50%;
    }
}
